name: Build Interact Box

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
        - target: win98
          toolchain: /opt/cmake/toolchains/win32_mingw_13.cmake

        - target: winxp
          toolchain: /opt/cmake/toolchains/win32_mingw_13.cmake

        - target: vista
          toolchain: /opt/cmake/toolchains/win32_mingw_13_x86_64.cmake

    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive


      - name: Configure
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/src \
            -w /src \
            ${{ secrets.DOCKERHUB_USERNAME }}/mingw_for_interact_box:latest \
            cmake -B build-${{ matrix.target }} \
                  -S . \
                  -DCMAKE_TOOLCHAIN_FILE=${{ matrix.toolchain }} \
                  -DTARGET_WINDOWS_VERSION=${{ matrix.target }} \
                  -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/src \
            -w /src \
            ${{ secrets.DOCKERHUB_USERNAME }}/mingw_for_interact_box:latest \
            cmake --build build-${{ matrix.target }} \
              --parallel

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: interactbox-${{ matrix.target }}
          path: build-${{ matrix.target }}/installer/*.exe
